* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
}

.all-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sidebar {
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    box-shadow: #1e1e1e;
    height: 100vh;

    text-align: center;
    /* position: fixed; */
}

.main_contents {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    width: 58vw;
    box-shadow: #1e1e1e;
    height:fit-content;
    min-height: 100vh;
    
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.data {
    display: flex;
    justify-content: center;
    align-items: center;
}


.piechart, .linechart {
    background-color: #595858;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    height: 240px; /* charts will scale */
    margin: 10px;
    text-align: center;
    position: relative;
}
.piechart canvas,
.linechart canvas {
    width: 100% !important;
    height: 85% !important;
}



ul {
    list-style-type: none;

}

li {
    margin-left: 8px;
    margin-bottom: 30px;
    padding: 10px 20px;
    width: fit-content;
    /* border: 1px solid #ffffff;
    border-color: #ffffff; */
    border-radius: 10px;
}

li:first-child {
    margin-top: 50px;
}

.add-login-btn {
    margin-top: 200px;
    margin-left: 8px;
    padding: 10px 20px;
    color: white;
    background-color: #595858;
    border-radius: 10px;
    border: none;
}

.add-login-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}

li:hover {

    width: fit-content;
    color: aqua;
    background: #8a8a8a;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: underline;

}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    width: 100%;
}



thead,
tfoot {
    background-color: bisque;
    color: #121212
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;

}

td:last-of-type {
    text-align: center;
}

tbody>tr:nth-of-type(even) {
    background-color: #1e1e1e;
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}

.Categoryinput {
    background: #1e1e1e;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.Month {
    background: #1e1e1e;
    color: white;
    padding: 10px;
    border-radius: 10px;

}

.navbar-search{
    background-color: black;
    color: white;
    padding-left: 10px;

    border-radius: 20px;
    border: none;
    width: 456px;
    height: 30px;

}
.send-button{
    padding: 10px;
    background-color: #6f6e6e;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
}

.search {
    background-color: #6f6e6e;
    color: white;
   
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;

    border: 3px solid white;

}

.delete-btn , .close-window{
    color: white;
    background-color: rgb(253, 24, 24);
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.delete-btn:hover , .close-window:hover {
    cursor: pointer;
    background-color: red;
    text-decoration: underline;
    text-decoration-color: white;

}

.horizontal_div {
    display: flex;
}

input[type="date"],
input[type="number"],.notes , .category-data-add{
    width: 250px;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
}


.data-input-btn {
    background-color: #6f6e6e;
    color: white;
    padding: 8px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}
.login{
    background-color: gray;
    padding: 30px;
    border-radius: 10px;
    width: 420px;
    box-shadow: white;
    height: fit-content;
    margin-top: 20%;
    margin-left: 22%;
    

}
.Password ,.email {
    display:flex;
    width: 190px;
    background-color: black;
    color: white;
    padding-left: 10px;

    border-radius: 20px;
    border: none;
    
    height: 30px;
    width: 300px;
    
}
.form-login-btn{
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin-left: 30%;
    border: none;


}
.income{
    display: block;
    
    margin-bottom: 30px;
    margin-left: 150px;
    margin-top: 50px;
    background-color: gray;
    padding: 45px;
    border-radius: 10px;
    width: 500px;
    
    height: fit-content
    

}

.SOURCE {
    
    width: 10vw;
    background-color: black;
    color: white;
    padding-left: 10px;

    border-radius: 20px;
    border: none;
    width: 250px;
    height: 30px;
    
}
.add-income-btn{
    background-color: red;
    color: white;
    padding: 7px;
    border-radius: 10px;
    margin-left: 30%;
    border: none;
    width: 120px;
    cursor: pointer;

}
.h1-login-heading{
    text-align: center;
}
.finance-heading{
    text-align: center;
}
.image-login-btn{
    height: 55px;
    width: 55px;
    background: none;
    border: none;
    cursor: pointer;

}


.image-login-btn:hover{
    cursor:pointer
}

.add-category-btn{
    background-color:blue;
    color: white;
    
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.categories-input{
    background-color: #595858;
    padding: 5px;
    border-radius: 10px;
    width: 500px;
    box-shadow: #1e1e1e;
    text-align: center;
    height: 246px;
    margin-left: 23%;
    margin-top: 25%;
}
.sidebar-btn-hide{
    
    width: 67px;
    background-color:#8a8a8a;
    color:white;
    padding: 5px;
    border: 2px solid white;
    display: none;
    border-radius: 10px;
    cursor: pointer;
    
    
}

@media(max-width:1024px){
    table{
        margin-left: 10px;
        width: 300px;
        font-size: 15px;
    }
    .main_contents{
        width:500px;
    }
    .Categoryinput,.Month,.search{
        padding: 10px 0px;
    }
    h1{
        font-size: 20px;
    }
    .horizontal_div{
        display: block;
    }
    .linechart canvas{
        height: 170px !important;
        width: 145px !important;
    }
    .piechart,.linechart{
        text-align: start;
        position:unset;
        width: 450px;
        margin-top: 10px;
    }
    .piechart canvas{
        height: 170px !important;
        width: 140px !important;

    }
    .piechart{
        width: 400px;
    }
    .image-login-btn{
        height: 55px;width: 55px;
    }
    .navbar-search{
        width: 215px;
        height: 30px;

    }
    .sidebar{
        display: block;
        /* position: absolute; */
        left: 0;
    }
    
    .sidebar-btn-hide{
        display: none;
    }
    .add-login-btn{
        margin-top: 27px;
    }
    *{
        margin: 5px;
    }
    .income{
        margin-left: 17px;
        width: 400px;
    }
    .table-container{
        margin-left: 17px;
    }
    .categories-input{
        width: 400px;
        margin-left: 40px;
    }
    .ai-div{
        width: 450px !important;
    }
    .login{
        margin-left: 20px;
    }
}
@media(max-width:750px){
    table{
        margin-left: 10px;
        width: 300px;
        font-size: 14px;
    }
    .main_contents{
        width:500px;
    }
    .Categoryinput,.Month,.search{
        padding: 10px 0px;
    }
    h1{
        font-size: 20px;
    }
    .horizontal_div{
        display: block;
    }
    .linechart canvas{
        height: 170px !important;
        width: 145px !important;
    }
    .piechart,.linechart{
        text-align: start;
        position:unset;
        width: 450px;
        margin-top: 10px;
    }
    .piechart canvas{
        height: 170px !important;
        width: 140px !important;

    }
    .piechart{
        width: 400px;
    }
    .image-login-btn{
        height: 55px;width: 55px;
    }
    .navbar-search{
        width: 215px;
        height: 30px;

    }
    .sidebar{
        display: block;
        /* position: absolute; */
        left: 0;
    }
    
    .sidebar-btn-hide{
        display: none;
    }
    .add-login-btn{
        margin-top: 27px;
    }
    *{
        margin: 5px;
    }
}

@media(max-width:650px){
    table{
        margin-left: 0;
        width: 250px;
        font-size: 10px;
    }
    .main_contents{
        width: 425px;
    }
    .Categoryinput,.Month,.search{
        padding: 10px 0px;
    }
    h1{
        font-size: 20px;
    }
    .horizontal_div{
        display: block;
    }
    .linechart canvas{
        height: 170px !important;
        width: 145px !important;
    }
    .piechart,.linechart{
        text-align: start;
        position:unset;
        width: 450px;
        margin-top: 10px;
    }
    .piechart canvas{
        height: 170px !important;
        width: 140px !important;

    }
    .piechart{
        width: 400px;
    }
    .image-login-btn{
        height: 55px;width: 55px;
    }
    .navbar-search{
        width: 215px;
        height: 30px;

    }
    .sidebar{
        display: block;
        
        left: 0;
    }
    
    .sidebar-btn-hide,.sidebarbtnimg{
        display: none;
    }
    .add-login-btn{
        margin-top: 27px;
    }
    *{
        margin: 5px;
    }
    .ai-div{
        width: 370px !important;
    }
    .income{
        width:350px ;
    }
    .categories-input{
        width: 330px;
    }
    .login{
        width: 340px;
    }
}
@media(max-width:500px){
    .expensetable{
        margin-left: 0;
        width: 320px;
        font-size: 10px;
    }
    .incometable{
        margin-left: 0;
        width: 340px;
        font-size: 15px;
    }
    
    .main_contents{
        width: 395px;
    }
    .Categoryinput,.Month,.search{
        padding: 10px 0px;
    }
    h1{
        font-size: 20px;
    }
    .horizontal_div{
        display: block;
    }
    .linechart canvas{
        height: 150px !important;
        width: 150px !important;
    }
    .piechart,.linechart{
        text-align: start;
        
        width: 300px !important;
        margin-top: 10px;
    }
    .piechart canvas{
        height: 145px !important;
        width: 130px !important;

    }
    
    .image-login-btn{
        height: 55px;width: 55px;
    }
    .navbar-search{
        width: 190px;
        height: 30px;

    }
    .sidebar{
        display: none;
        position: absolute;
        left: 0;
    }
    
    .sidebar-btn-hide{
        display: block;
    }
    .Password,.email{
        width: 190px;

    }
    .login{
        width: 300px;
        margin-left: 10px;
    }
    .form-login-btn{
        width: 100px;
    }
    .ai-div{
        width: 320px !important;
    }
    .category-data-add{
        width: 181px;

    }
    .categories-input{
        width: 290px;
    }
    .income{
        width: 300px;
    }
    .amountincome{
        width: 190px !important;
    }
    .income-table{
        width: 290px !important;
    }
    .SOURCE{
        width: 197px !important;
    }
}